/*分组选择器:公用一套css代码*/
html, body, .content{width: 100%;height:100%;}
.content>div{float:left;width:33.33%;height:33.33%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover}
/*覆盖reset.min.css中的video是被隐藏起来的，而且高度为0*/
.content>div video{width:100%;height:100%;display: block;}



